.allCourse__galery {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 599px; */
}
.block__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 345px;
  height: 400px;
  background: rgba(196, 196, 196, 0.33);
  margin: 30px;
  border-radius: 3px;
  border-left: 3px solid rgb(109, 106, 106);
}
.button__hover:hover {
  background: rgb(226, 74, 81);
}
