#modal-root {
  position: relative;
  z-index: 999;
}

#modal-root .modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 666px;
  height: 397px;
  background: #ffffff;
  border-radius: 5px;
  align-items: center;
}
.modal__block input {
  display: block;
  margin: 30px;
  padding: 0;
  background: none;
  position: relative;
  width: 338px;
  height: 40px;
  margin-right: 120px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  border-width: 2px;
  border-color: rgba(196, 196, 196, 0.53);
}
.modal__buttons {
  display: flex;
}
button {
  display: block;
  margin: 0;
  padding: 0;
  background: none;
  position: relative;
  width: 120px;
  height: 47px;
  border-radius: 5px;
  width: 80%;
  background: #ff7478;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.add__user__input__select {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 75px;
}
.box_addUser {
  width: 338px;
  height: 60px;
  border-radius: 5px;
  margin-left: 1070px;
  position: absolute;
  margin-top: 455px;
}
.addUser {
  background: #d12e26;
  color: white;
  height: 52px;
}
